@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&family=Righteous&display=swap');



/* RESET */

/* reseta algumas informações */
body, h1, h2, p, ul, li, a{
    /* tira as margens padrão (deixa as coisas mais coladas) */
    margin: 0px;
    padding: 0px;
}

/* atribui novas configurações para o body */
body{
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #222222;
}

/* aqui remove os estilos das listas */
ul{
    list-style: none;
}

/* aqui remove o text-decoration */
a{
    text-decoration: none;
}

/* atribui novas configurações para as img */
img{
    /* faz com que todas as imagens sejam display: block */
    display: block;
    /* faz com que tenham uma largura máxima de 100% para que elas não estourem o container (ajuda na responsividade) */
    max-width: 100%;
}

/* atribui à todas as tags do site um nova configuração */
*{
    /* não entendi */
    box-sizing: border-box;
}



/* MENU */

.paciente-menu-bg{
    background-image: url("../img/menu-background.svg");
    margin-bottom: 40px;
}

.paciente-menu a{
    color: white;
}

.paciente-menu{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.paciente-logo{
    max-width: 130px;
    margin-left: 15px;
    user-select: none;
}

.paciente-nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.paciente-nav li{
    padding: 0 15px;
}

.paciente-nav li a img{
    padding: -15px 15px;
    max-width: 102px;
}

.paciente-nav span{
    color: #364958;
}

.paciente-nav a{
    font-family: 'Righteous', Helvetica, sans-serif;
    font-size: 1.2em;
    display: block;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.paciente-nav li:nth-child(1){
    line-height: 1.4;
}

.paciente-nav li:nth-child(2){
    line-height: 0;
    padding-top: 10px;
}

.paciente-nav li:nth-child(2)::after{
    content: '';
    display: block;
    position:static;
    margin-top: -5px;
    border-bottom: 14px solid #06D6A0;
}

.paciente-nav li:nth-child(3){
    margin-right: -20px;
}



/* CONSULTAS */

.consultas-bg{
    background-color: white;
}

.consultas-overflow{
    background-color: white;
    width: 720px;
    height: 620px;
    display: flex;
    justify-content: center;
    /* margin-bottom: 10px; */
    overflow: auto;
    padding: 20px 0;
}

.consultas-overflow::-webkit-scrollbar{
    width: 10px;
    background: white;
}

.consultas-overflow::-webkit-scrollbar-track{
    width: 25px;
    background: white;
    /* border-radius: 10px; */
    margin: 20px 0 5px 0;
    background-color: white;
}

.consultas-overflow::-webkit-scrollbar-thumb{
    background-color: #364958;
    border-radius: 10px;
    border: 2px solid white;
}

.consultas{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paciente-botoes-consulta{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.paciente-botoes-consulta button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 80px;
    margin: 0 30px 0 30px;
    border-radius: 25px;
}

.paciente-botoes-consulta button:nth-child(1){
    background-color: #06D6A0;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 10px #8a8a8a;
}

.paciente-botoes-consulta button:nth-child(2){
    background-color: #646A70;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 10px #8a8a8a;
}

.paciente-botoes-consulta button:nth-child(3){
    background-color: #39A0ED;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 10px #8a8a8a;
}

.paciente-consultas-bg{
    max-width: 960px;
    width: 680px;
    height: 400px;
    background-color: #ccc;
    border-radius: 20px;
    background: linear-gradient(132.36deg, #E5E5E5 -50.64%, rgba(255, 255, 255, 0) 163.53%), #FFFFFF;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.25);

    margin-bottom: 50px;
}

.paciente-consultas{
    margin-bottom: 80px;
}

.paciente-tipo-consulta{
    width: 680px;
    height: 65px;
    background-color: #39A0ED;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 20px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paciente-tipo-consulta p{
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    line-height: 0;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.paciente-info-consulta{
    padding: 20px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.paciente-nome-data-consulta img{
    width: 130px;
}

.paciente-nome-data-consulta{
    display: flex;
    align-items: center;
}

.paciente-texto{
    font-size: 1.2em;
}

.paciente-texto-top{
    line-height: 1.3;
    margin-bottom: 20px;
    
}

.paciente-texto-top p:nth-child(1){
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.paciente-texto-top p strong:nth-child(1){
    font-family: 'Righteous', Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.paciente-texto-top p:nth-child(2){
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.paciente-texto-bottom{
    line-height: 1.4;
}

.paciente-texto-bottom p:nth-child(1){
    font-family: 'Righteous', Helvetica, sans-serif;
    font-weight: 400;
}

.paciente-texto-bottom p:nth-child(2){
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
}

.paciente-linha-divisao{
    width: 85%;
    border-bottom: 5px solid black;
    border-radius: 25px;
}

.paciente-hora-consulta{
    padding-bottom: 55px;
}

.paciente-hora-consulta p:nth-child(1){
    font-size: 2em;
    font-family: 'Righteous', Helvetica, sans-serif;
}

.paciente-hora-consulta p:nth-child(2){
    font-size: 1.5em;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
}

.paciente-desc-consulta{
    padding: 20px 70px;
}

.paciente-desc-consulta h2{
    text-align: center;
    padding-bottom: 20px;
}

.paciente-text-button{
    display: flex;
    justify-content: space-between;
}

.paciente-text-button textarea{
    resize: none;
    border: none;
    background-color: #f2f2f2;
    width: 80%;
    font-size: 1.2em;
    font-family: 'Montserrat', Helvetica, sans-serif;
    /* user-select: none; */
}

.paciente-text-button textarea::selection{
    outline: none;
    border: none;
}

.paciente-text-button button{
    border: none;
    background-color: #364958;
    color: white;
    width: 90px;
    height: 40px;
    font-size: 1em;
    border-radius: 10px;
    font-family: 'Righteous', Helvetica, sans-serif;
    cursor: pointer;
}