@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&family=Righteous&display=swap');



/* RESET */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

select{
    border: none;
    outline: none;
}

/* reseta algumas informações */
body, h1, h2, p, ul, li, a{
    /* tira as margens padrão (deixa as coisas mais coladas) */
    margin: 0px;
    padding: 0px;
}

/* atribui novas configurações para o body */
body{
    font-family: Helvetica, Arial, sans-serif;
    color: #222222;
    background-color: #fafafa;
}

/* aqui remove os estilos das listas */
ul{
    list-style: none;
}

/* aqui remove o text-decoration */
a{
    text-decoration: none;
}

/* atribui novas configurações para as img */
img{
    /* faz com que todas as imagens sejam display: block */
    display: block;
    /* faz com que tenham uma largura máxima de 100% para que elas não estourem o container (ajuda na responsividade) */
    max-width: 100%;
}

/* atribui à todas as tags do site um nova configuração */
*{
    /* não entendi */
    box-sizing: border-box;
}



/* NOTFOUND */

.notfound-background{
    width: 100%;
    height: 780px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    user-select: none;
    font-size: 30px;
}

.notfound{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.notfound a{
    color: #364958;
    transition: .5s ease-out;
}

.notfound a:hover{
    color: #37D09D;
    transition: .2s;
}

.notfound img{
    width: 500px;
    height: 500px;
}



/* LOGIN */

.login{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.login-left-logo {
    background: rgb(6,214,160);
    background: linear-gradient(144deg, rgba(6,214,160,1) 0%, rgba(30,144,124,1) 100%);
    height: 100%;
    width: 45%;
    position: absolute;
}

.login-background{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: 15.55;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.login-imagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
}

.login-logo{
    max-width: 331px;
    padding-top: 4.5em;
}

.login-medico{
    max-width: 35em;
    user-select: none;
}

.login-right-form {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}

.login-form{
    width: 100%;
    height: 79%;
    display: flex;
    justify-content: center;
}

.login-form-center{
    width: 26em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-center p{
    font-family: 'Righteous', cursive;
    line-height: 117px;
    font-size: 3.3em;
    line-height: 117px;
    color: #32be8f;
    padding-top: 0.95em;
    user-select: none;
}

.login-formulario{
    display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.login-form-main{
    width: 360px;
}

.login-formulario .login-input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-formulario .login-input-div .one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

/* começou bugar */
.login-input-div > div{
    position: relative;
	height: 45px;
}

/* bug */
.login-input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
    user-select: none;
}

.login-input-div:before, .login-input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.login-input-div:before{
	right: 50%;
}

.login-input-div:after{
	left: 50%;
}

.login-input-div.focus:before, .login-input-div.focus:after{
	width: 50%;
}

.login-input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.login-input-div.focus > .i > i{
	color: #38d39f;
}

/* rodou algo */
.login-input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
}

.login-input-div .pass{
	margin-bottom: 4px;
}

.login.input:-webkit-autofill{
    background-color: white;
}

.login-a{
	display: block;
	text-align: center;
	text-decoration: none;
	color: #999;
    font-weight: 600;
	font-size: 0.8rem;
	transition: .3s;
    user-select: none;
}

.login-a:hover{
	color: #38d39f;
}

.login-btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
    letter-spacing: 1px;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}

.login-btn:hover{
	background-position: right;
}

.login-btn:disabled{
    background-image: linear-gradient(to right, #999999, #999999, #999999);
    color: #ccc;
}

.login-erro p{
    font-size: .9rem;
    margin-top: -1px;
    font-family: 'Poppins', sans-serif;
    color: red;
    user-select: none;
    /* background: red; */
}

.login-links{
    display: block;
    width: 90%;
    height: 21%;
    /* background-color: #787; */
    display: flex;
    flex-direction: column;
    margin-left: 4.3em;
    user-select: none;
}

.login-links a{
    text-decoration: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 7px;
}

.login-a1, .login-a2{
    display: flex;
    align-items: center;
}

.login-linha{
    width: 45.05px;
    height: 2px;
    border-radius: 25px;
    margin-right: 0.2em;
}

.login-a1 a{
    color: #364958;
    transition: 0.3s;
}

.login-a1 a:hover{
    color: #38d39f;
}

.login-a1 .login-linha{
    background-color: #364958;
}

.login-a2 a{
    color: #1481ba;
    transition: 0.3s;
}

.login-a2 a:hover{
    color: #38d39f;
}

.login-a2 .login-linha{
    background-color: #1481ba;
}



/* HEADER */

.header{
    height: 3.75em;
    width: 100%;
    margin-bottom: 50px;
    background: linear-gradient(161.61deg, #06D6A0 21.12%, #1E907C 108.91%), #C4C4C4;
}

.header-background{
    display: flex;
    justify-content: space-around;
    height: 100%;
    /* background-image: url(../img//header-background.svg); */
    position: relative;
}

.header-poly{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: 15.55;
    object-fit: cover;
    object-position: center;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.header-avatar{
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
    list-style: none;
}

.header-avatar-submenu-dropdown{
    position: absolute;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
}

.header-avatar-submenu-dropdown.active{
    /* display: block; */
    visibility: visible;
    opacity: 1;
    /* animation: slideUp 2s; */
}

.header-ponta{
    margin-top: 4px;
    margin-bottom: -12px;
    margin-left: 15px;
}

.header-ponta img{
    z-index: 1;
}

.header-avatar-submenu{
    margin-top: 10px;
    position: absolute;
    background-color: white;
    width: 225px;
    border-radius: 8px;
    margin-left: -170px;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    box-shadow: -1px 4px 10px  rgba(0, 0, 0, 0.2);
}

/* .header-avatar-submenu::before{
    z-index: 0;
    content: '';
    position: absolute;
    top: -5px;
    right: 23px;
    width: 20px;
    height: 20px;
    background-color: white;
    transform: rotate(45deg);
} */

.header-submenu-op1{
    display: flex;
    align-items: center;
    width: 225px;
    height: 40px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* background-color: red; */
    padding: 15px;
    /* transition: .2s; */
}

.header-submenu-op1 a{
    color: #262626;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 140px 5px 0px;
}

.fa-user-circle{
    color: #222;
    font-size: 15px;
    font-weight: 600;
    padding-right: 10px;
}

.header-submenu-op1:hover{
    background-color: #f3f3f3;
}

.header-submenu-op2{
    padding-left: 15px;
    display: flex;
    align-items: center;
    width: 225px;
    height: 40px;
    padding: 15px ;
    /* background-color: yellow; */
    /* transition: .2s; */
}

.header-submenu-op2 a{
    color: #262626;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 51px 5px 0px;
    width: 180px;
}

.fa-columns{
    color: #222;
    font-size: 14px;
    font-weight: 600;
    padding-right: 10px;
}

.header-submenu-op2:hover{
    background-color: #f3f3f3;
}

.header-submenu-op3{
    padding-left: 15px;
    display: flex;
    align-items: center;
    width: 225px;
    height: 40px;
    /* background-color: yellow; */
    /* transition: .2s; */
}

.header-submenu-op3 a{
    color: #262626;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 80px 5px 0px;
}

.fa-cog{
    color: #222;
    font-size: 14px;
    font-weight: 600;
    padding-right: 10px;
}

.header-submenu-op3:hover{
    background-color: #f3f3f3;
}

.header-submenu-saida{
    border-top: 1px solid #ccc;
    padding: 10px 15px 10px 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    /* transition: .2s; */
    z-index: 1;
}

.header-submenu-saida a{
    color: #262626;
    font-size: 13px;
    font-weight: 400;
    padding: 5px 180px 5px 0px;
}

.header-submenu-saida:hover{
    background-color: #f3f3f3;
}

/* .header-avatar li:hover > .header-avatar-submenu-dropdown{
    display: block;
    transition: 1s;
    animation: slideUp .3s;
} */

.header-avatar-img{
    border-radius: 25px;
    cursor: pointer;
}

.header-content{
    /* background-color: red; */
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.header-tag{
    background-color: #364958;
    padding: 4px 5px 4px 10px;
    margin-right: -2px;
}

.header-tag-name{
    margin-right: 3px;
    /* background-color: #364958; */
    padding: 4px 10px 4px 10px;
    /* text-transform: lowercase; */
    font-weight: 800;
}

.header-tag-middle{
    width: 5px;
    height: 30px;
    background-color: #364958;
    margin-right: 3px;
}



/* KEYFRAMES ANIMATION */

@keyframes slideUp{
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1 20s ease-in;
        transform: translate(20px 0 0 0);
        transform: none;
    }
}



/* DASHBOARD */

.dash-background{
    max-width: 960px;
    margin: 0 auto;
    /* background-color: red; */
}

.dash-titulo{
    background-color: #364958;
    padding: 0 12px;
    width: 309px;
    margin-bottom: 30px;
    user-select: none;
}

.dash-titulo h1{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: white;
    font-weight: 800;
}

.dash-cards-background{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



/* CARD CONSULTAS */

.dash-card-consultas{
    width: 300px;
    height: 160px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.dash-card-consultas:hover{
    border: 1px solid #06D6A0;
    transition: .2s;
}

.dash-consultas-link{
    display: flex;
    justify-content: space-between;
    width: 290px;
    height: 130px;
    position: relative;
    /* background-color: red; */
}

.dash-consultas-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.dash-consultas-texto p:nth-child(1){
    color: #06D6A0;
    font-weight: 800;
    font-size: 45px;
}

.dash-consultas-texto p:nth-child(2){
    color: #364958;
    font-weight: 600;
    font-size: 24px;
}

.dash-consultas-img{
    align-self: center;
    margin-right: -15px;
}



/* CARD MEDICOS */

.dash-card-medicos{
    width: 300px;
    height: 160px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.dash-card-medicos:hover{
    border: 1px solid #06D6A0;
    transition: .2s;
}

.dash-medicos-link{
    display: flex;
    justify-content: space-between;
    width: 290px;
    height: 130px;
    position: relative;
    /* background-color: red; */
}

.dash-medicos-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.dash-medicos-texto p:nth-child(1){
    color: #06D6A0;
    font-weight: 800;
    font-size: 45px;
}

.dash-medicos-texto p:nth-child(2){
    color: #364958;
    font-weight: 600;
    font-size: 24px;
}

.dash-medicos-img{
    align-self: center;
    margin-right: -10px;
}



/* CARD PACIENTES */

.dash-card-pacientes{
    width: 300px;
    height: 160px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.dash-card-pacientes:hover{
    border: 1px solid #06D6A0;
    transition: .2s;
}

.dash-pacientes-link{
    display: flex;
    justify-content: space-between;
    width: 290px;
    height: 130px;
    position: relative;
    /* background-color: red; */
}

.dash-pacientes-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.dash-pacientes-texto p:nth-child(1){
    color: #06D6A0;
    font-weight: 800;
    font-size: 45px;
}

.dash-pacientes-texto p:nth-child(2){
    color: #364958;
    font-weight: 600;
    font-size: 24px;
}

.dash-pacientes-img{
    align-self: center;
    margin-right: 0px;
}



/* CARD ESPECIALIDADES */

.dash-card-especialidades{
    width: 300px;
    height: 160px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.dash-card-especialidades:hover{
    border: 1px solid #06D6A0;
    transition: .2s;
}

.dash-especialidades-link{
    display: flex;
    justify-content: space-between;
    width: 290px;
    height: 130px;
    position: relative;
    /* background-color: red; */
}

.dash-especialidades-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.dash-especialidades-texto p:nth-child(1){
    color: #06D6A0;
    font-weight: 800;
    font-size: 45px;
}

.dash-especialidades-texto p:nth-child(2){
    color: #364958;
    font-weight: 600;
    font-size: 24px;
}

.dash-especialidades-img{
    align-self: center;
    margin-right: 0px;
}



/* CARD CLÍNICAS */

.dash-card-clinicas{
    width: 300px;
    height: 160px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.dash-card-clinicas:hover{
    border: 1px solid #06D6A0;
    transition: .2s;
}

.dash-clinicas-link{
    display: flex;
    justify-content: space-between;
    width: 290px;
    height: 130px;
    position: relative;
    /* background-color: red; */
}

.dash-clinicas-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.dash-clinicas-texto p:nth-child(1){
    color: #06D6A0;
    font-weight: 800;
    font-size: 45px;
}

.dash-clinicas-texto p:nth-child(2){
    color: #364958;
    font-weight: 600;
    font-size: 24px;
}

.dash-clinicas-img{
    align-self: center;
    margin-right: -15px;
}



/* CARD USUÁRIOS */

.dash-card-usuarios{
    width: 300px;
    height: 160px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-between;
    margin-bottom: 40px;
}

.dash-card-usuarios:hover{
    border: 1px solid #06D6A0;
    transition: .2s;
}

.dash-usuarios-link{
    display: flex;
    justify-content: space-between;
    width: 290px;
    height: 130px;
    position: relative;
    /* background-color: red; */
}

.dash-usuarios-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.dash-usuarios-texto p:nth-child(1){
    color: #06D6A0;
    font-weight: 800;
    font-size: 45px;
}

.dash-usuarios-texto p:nth-child(2){
    color: #364958;
    font-weight: 600;
    font-size: 24px;
}

.dash-usuarios-img{
    align-self: center;
    margin-right: 0px;
}



/* CONSULTAS */

.consultas-background{
    /* background-color: red; */
    max-width: 960px;
    height: 570px;
    margin: 0 auto;
    display: block;
}

.consultas-titulo{
    background-color: #364958;
    padding: 0 12px;
    width: 180px;
    margin-bottom: 30px;
    user-select: none;
}

.consultas-titulo h1{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: white;
    font-weight: 800;
}

.consultas-content-background{
    /* background-color: green; */
    width: 100%;
    height: 95%;
    display: flex;
}

.consultas-btns{
    width: 180px;
    margin-right: 15px;
    /* background-color: yellow; */
}

.consultas-btns button{
    width: 180px;
    height: 60px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.consultas-btns button:nth-child(1){
    font-size: 18px;
    background-color: #1481BA;
    border: none;
    cursor: pointer;
    text-align: left;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    border-radius: 10px;
}

.consultas-btns button:nth-child(2){
    font-size: 18px;
    background-color: #36CC9A;
    border: none;
    cursor: pointer;
    text-align: left;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    border-radius: 10px;
}

.consultas-card-consulta-background{
    width: 820px;
    height: 100%;
    /* background-color: pink; */
    scroll-behavior: smooth;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.consultas-card-consulta{
    width: 350px;
    height: 510px;
    background-color: white;
    border: 1px solid #364958;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    margin-right: 10px;
    transition: .3s;
}

/* .consultas-card-consulta{
    height: 510px;
} */

.consultas-card-consulta:hover{
    transition: .3s;
    border: 1px solid #36CC9A;
}

/* CARDS CONSULTAS - SCROLL */

.consultas-card-consulta-background::-webkit-scrollbar{
    width: 10px;
    background: #fafafa;
}

.consultas-card-consulta-background::-webkit-scrollbar-track{
    width: 25px;
    background: white;
    margin: 5px 0 5px 0;
    background-color: #fafafa;
}

.consultas-card-consulta-background::-webkit-scrollbar-thumb{
    background-color: #364958;
    border-radius: 10px;
    border: 2px solid #fafafa;
}


/* AGENDADA */
.consultas-card-situacao-agendada{
    background-color: #36CC9A;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.consultas-card-situacao-agendada p{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

/* REALIZADA */
.consultas-card-situacao-realizada{
    background-color: #1481BA;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.consultas-card-situacao-realizada p{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

/*  CANCELADA */
.consultas-card-situacao-cancelada{
    background-color: #364958;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.consultas-card-situacao-cancelada p{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}



.consultas-card-dia-btns{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.consultas-card-dia{
    width: 190px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

.consultas-card-data{
    padding-right: 10px;
}

.consultas-card-data-background{
    width: 120px;
    height: 20px;
    background-color: #364958;
}

.consultas-card-data-background p{
    color: white;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}

.consultas-card-data p:nth-child(2){
    color: #364958;
    font-size: 20px;
    font-weight: 800;
}

.consultas-card-hora{
    padding-right: 10px;
}

.consultas-card-hora-background{
    width: 60x;
    height: 20px;
    background-color: #364958;
    padding-right: 10px;
}

.consultas-card-hora-background p{
    color: white;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}

.consultas-card-hora p:nth-child(2){
    color: #364958;
    font-size: 20px;
    font-weight: 800;
}

.consultas-card-btn-inicio{
    /* background-color: red; */
    width: 120px;
    display: flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
}

.consultas-card-btn-inicio button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.consultas-card-btn-inicio img{
    user-select: none;
}

.consultas-card-btn-inicio button:nth-child(1){
    background-color: #1481BA;
}

.consultas-card-btn-inicio button:nth-child(2){
    background-color: #364958;
}



.consultas-card-paciente{
    padding: 0 10px 10px 10px;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

.consultas-card-paciente p{
    font-size: 18px;
    font-weight: 800;
    color: #36CC9A;
    text-transform: uppercase;
}

.consultas-card-paciente-linha{
    display: flex;
}

.consultas-card-paciente-linha img:nth-child(1){
    border: 2px solid #36CC9A;
    border-radius: 50px;
}

.consultas-card-paciente-linha img:nth-child(2){
    margin-left: -14px;
}

.consultas-card-paciente-barra{
    display: flex;
    align-items: center;
}

.consultas-card-paciente-barra p{
    padding: 5px;
    width: 260px;
    height: 55px;
    background-color: #36CC9A;
    color: white;
}


.consultas-card-medico{
    padding: 0 10px 10px 10px;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

.consultas-card-medico p{
    font-size: 18px;
    font-weight: 800;
    color: #1481ba;
    text-transform: uppercase;
}

.consultas-card-medico-linha{
    display: flex;
}

.consultas-card-medico-linha{
    display: flex;
}

.consultas-card-medico-img{
    border: 2px solid #1481ba;
    border-radius: 50px;
    margin-left: -14px;
}

.consultas-card-medico-barra{
    display: flex;
    align-items: center;
}

.consultas-card-medico-barra p{
    padding: 5px;
    width: 260px;
    height: 55px;
    background-color: #1481ba;
    color: white;
}

.consultas-card-medico-especialidade{
    width: 330px;
    height: 30px;
    background-color: #1481ba;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 2px;
    /* border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px; */
}

.consultas-card-medico-especialidade p{
    font-size: 14px;
    color: white;
    font-weight: 600;
}



.consultas-card-descricao{
    padding: 0 10px 10px 10px;
}

.consultas-card-descricao p{
    font-size: 18px;
    font-weight: 800;
    color: #364958;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

.consultas-card-descricao-linha{
    display: flex;
}

.consultas-card-descricao-linha button{
    width: 50px;
    height: 160px;
    border: none;
    background-color: #32be8f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 9px;
    cursor: pointer;
}

.consultas-card-descricao-linha button:disabled{
    background-color: #364958;
}

.consultas-card-descricao-campo{
    padding: 5px;
    width: 270px;
    height: 160px;
    background-color: #fafafa;
    margin-right: 5px;
    border: 2px solid #364958;
    border-bottom-left-radius: 9px;
    resize: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: none;
    color: #364958;
}

.consultas-card-editar-block{
    width: 50px;
    height: 160px;
    background-color: #364958;
    border-bottom-right-radius: 9px;
}

@keyframes hide {
    from { opacity: 1 }
    to   { opacity: 0 }
}

.consultas-card-editar-sucesso{
    display: flex;
    justify-content: center;
    animation: hide 2s 3s forwards;
    /* background-color: #36CC9A; */
}

.consultas-card-editar-sucesso p{
    color: white;
    font-size: 10px;
}



/* MODAL BASE */

.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(54, 73, 88, 0.6);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: 2s;
}

.modal-consulta{
    width: 410px;
    height: 355px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #364958;
    transition: 2s;
}

.modal-consulta-situacao{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #36CC9A;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    transition: 2s;
}

.modal-consulta-dia{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px 0 5px;
    margin: 0;
    width: 100%;
    /* background-color: red; */
    font-family: 'Montserrat', sans-serif;
}

.modal-consulta-data{
    padding-right: 20px;
}

.modal-consulta-data-background{
    width: 130px;
    height: 24px;
    background-color: #364958;
}

.modal-consulta-data-background p{
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.modal-consulta-data input{
    color: #364958;
    font-size: 18px;
    font-weight: 800;
    width: 130px;
    outline: none;
    border: none;
}

.modal-consulta-data input[type="date"]::-webkit-calendar-picker-indicator{
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.modal-consulta-hora-background{
    width: 88px;
    height: 24px;
    background-color: #364958;
    padding-right: 10px;
}

.modal-consulta-hora-background p{
    color: white;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
}

.modal-consulta-hora input{
    color: #364958;
    font-size: 18px;
    font-weight: 800;
    width: 90px;
    outline: none;
    border: none;
}

.modal-consulta-data input[type="time"]::-webkit-calendar-picker-indicator{
    padding: 0;
    margin: 0;
}

.modal-consulta-paciente{
    padding: 5px 10px 10px 10px;
    font-family: 'Montserrat', sans-serif;
}

.modal-consulta-paciente p{
    font-size: 18px;
    font-weight: 800;
    color: #36CC9A;
    text-transform: uppercase;
}

.modal-consulta-paciente-linha{
    display: flex;
}

.modal-consulta-paciente-linha img:nth-child(1){
    border: 2px solid #36CC9A;
    border-radius: 50px;
}

.modal-consulta-paciente-linha img:nth-child(2){
    margin-left: -14px;
}

.modal-consulta-paciente-barra{
    display: flex;
    align-items: center;
}

.modal-consulta-paciente-barra select{
    padding: 5px;
    width: 320px;
    height: 55px;
    background-color: #36CC9A;
    color: white;
    text-transform: uppercase;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.modal-consulta-medico{
    padding: 0 10px 10px 10px;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

.modal-consulta-medico p{
    font-size: 18px;
    font-weight: 800;
    color: #1481ba;
    text-transform: uppercase;
}

.modal-consulta-medico-linha{
    display: flex;
}

.modal-consulta-medico-linha{
    display: flex;
}

.modal-consulta-medico-img{
    border: 2px solid #1481ba;
    border-radius: 50px;
    margin-left: -14px;
}

.modal-consulta-medico-barra{
    display: flex;
    align-items: center;
}

.modal-consulta-medico-barra select{
    padding: 10px;
    width: 320px;
    height: 55px;
    background-color: #1481ba;
    color: white;
    text-transform: uppercase;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.modal-consulta-medico-barra select:focus{
    outline: none;
    border: none;
}

.modal-consulta-medico-especialidade{
    width: 390px;
    height: 30px;
    background-color: #1481ba;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 3px;
}

.modal-consulta-medico-especialidade p{
    font-size: 14px;
    color: white;
    font-weight: 600;
}

.modal-consulta-btns{
    padding: 10px 10px 0 10px;
    display: flex;
    justify-content: space-between;
}

.modal-consulta-btns button{
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
    width: 190px;
    height: 44px;
    border: none;
}

.modal-consulta-cadastrar button{
    background-color: #36CC9A;
    border-bottom-left-radius: 9px;
}

.modal-consulta-cadastrar button:disabled{
    background-color: #364958;
}

.modal-consulta-cancelar button{
    background-color: #1481BA;
    border-bottom-right-radius: 9px;
}

.modal-consulta-cancelar button:disabled{
    background-color: #364958
}



/* PERFIL */

.perfil-background{
    max-width: 960px;
    /* background-color: red; */
    height: 442px;
    margin: 0 auto;
}

.perfil-titulo{
    background-color: #364958;
    padding: 0 12px;
    width: 120px;
    margin-bottom: 30px;
    user-select: none;
}

.perfil-titulo h1{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: white;
    font-weight: 800;
}

.perfil-content-background{
    width: 100%;
    height: 382px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
}



/* CARD PERFIL MAIN */

.perfil-card-main{
    width: 230px;
    height: 382px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-card-main-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* background-color: red; */
    height: 100%;
}

.perfil-card-main-foto{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: gray;
    margin-bottom: 15px;
    user-select: none;
    display: block;
}

.perfil-card-main-bottom-foto{
    height: 175px;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.perfil-card-main-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    user-select: none;
}

.perfil-card-main-text p:nth-child(1){
    font-size: 20px;
    color: #364958;
}

.perfil-card-main-text p:nth-child(2){
    font-size: 14px;
    color: #9D9D9D;
}

.perfil-card-main-btn{
    justify-self: flex-end;
    align-self: flex-end;
}

.perfil-card-main-btn a{
    background-color: #37D09D;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 26px;
    font-family: 'Montserrat', sans-serif;
    justify-self: flex-end;
    align-self: flex-end;
    user-select: none;
}


/* CARD PERFIL INFO */

.perfil-card-info{
    width: 480px;
    height: 382px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.perfil-card-info-title{
    font-size: 20px;
    font-weight: 600;
    color: #364958;
    user-select: none;
    margin-bottom: 30px;
}

.perfil-card-info-inputs{
    display: flex;
    flex-wrap: wrap;
}

.perfil-card-info-inputs-title{
    font-size: 14px;
    color: #364958;
    font-weight: 600;
    user-select: none;
    margin-bottom: 2.5px;
}

/* CRM */

.perfil-card-info-inputs-crm input{
    width: 220px;
    height: 40px;
    padding: 12px 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #9D9D9D;
    font-weight: 600;
    user-select: none;
    margin-right: 18px;
    margin-bottom: 15px;
}

/* CLÍNICA */
.perfil-card-info-inputs-clinica input{
    width: 200px;
    height: 40px;
    padding: 12px 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #9D9D9D;
    font-weight: 600;
    user-select: none;
    margin-bottom: 15px;
}

/* ESPECIALIDADE */
.perfil-card-info-inputs-especialidade input{
    width: 440px;
    height: 40px;
    padding: 12px 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #9D9D9D;
    font-weight: 600;
    user-select: none;
    margin-bottom: 15px;
}

/* E-MAIL */
.perfil-card-info-inputs-email input{
    width: 440px;
    height: 40px;
    padding: 12px 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #9D9D9D;
    font-weight: 600;
    user-select: none;
    margin-bottom: 15px;
}

/* RG */
.perfil-card-info-inputs-rg input{
    width: 210px;
    height: 40px;
    padding: 12px 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #9D9D9D;
    font-weight: 600;
    user-select: none;
    margin-right: 18px;
    margin-bottom: 15px;
}

/* CPF */
.perfil-card-info-inputs-cpf input{
    width: 210px;
    height: 40px;
    padding: 12px 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #9D9D9D;
    font-weight: 600;
    user-select: none;
    margin-bottom: 15px;
}

/* TELEFONE */
.perfil-card-info-inputs-telefone input{
    width: 210px;
    height: 40px;
    padding: 12px 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #9D9D9D;
    font-weight: 600;
    user-select: none;
    margin-right: 18px;
    margin-bottom: 15px;
}

/* DATA DE NASCIMENTO */
.perfil-card-info-inputs-data input{
    width: 210px;
    height: 40px;
    padding: 12px 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #9D9D9D;
    font-weight: 600;
    user-select: none;
    margin-bottom: 15px;
}

/* ENDEREÇO */
.perfil-card-info-inputs-endereco input{
    width: 440px;
    height: 40px;
    padding: 12px 15px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #9D9D9D;
    font-weight: 600;
    user-select: none;
    margin-bottom: 15px;
}



/* CARD PERFIL EMBLEMAS */

.perfil-card-emblemas{
    width: 210px;
    height: 382px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-card-emblemas-title{
    width: 100%;
    height: 60px;
    background-color: #364958;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-card-emblemas-title p{
    font-size: 20px;
    font-weight: 600;
    color: white;
    user-select: none;
}

.perfil-card-emblemas-emblema-background{
    /* background-color: red; */
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.perfil-card-emblemas-emblema{
    width: 165px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    transition: .2s;
}

.perfil-card-emblemas-emblema:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10);
}

.perfil-card-emblemas-emblema-base-img{
    width: 100%;
    height: 150px;
    /* background-color: gray; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-card-emblemas-emblema-img{
    width: 120px;
    height: 120px;
    /* background-color: gray; */
}

.perfil-card-emblemas-emblema-desc{
    /* background-color: red; */
    height: 50px;
    padding: 5px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    user-select: none;
}

.perfil-card-emblemas-emblema-desc p{
    font-size: 12px;
    font-weight: 600;
    color: #9D9D9D;
}

.perfil-card-emblemas-btn{
    justify-self: flex-end;
    align-self: flex-end;
}

.perfil-card-emblemas-btn button{
    background-color: #1481BA;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px 10px;
    font-family: 'Montserrat', sans-serif;
    justify-self: flex-end;
    align-self: flex-end;
}



/* CONFIGURAÇÕES */

.settings-background{
    max-width: 960px;
    /* background-color: red; */
    height: 442px;
    margin: 0 auto;
}

.settings-titulo{
    background-color: #364958;
    padding: 0 12px;
    width: 300px;
    margin-bottom: 30px;
    user-select: none;
}

.settings-titulo h1{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: white;
    font-weight: 800;
}

.settings-content-background{
    width: 100%;
    height: 382px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
}



/* SETTINGS BOTÕES */

.settings-content-btn-main{
    width: 300px;
    height: 100%;
    /* background-color: yellow; */
}

.settings-content-btn-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 20px 15px;
    /* background-color: red; */
    border-radius: 9px;
}

.settings-content-btn-link p:nth-child(1){
    font-weight: 600;
    color: #364958;
    font-size: 20px;
}

.settings-content-btn-link p:nth-child(2){
    font-weight: 600;
    color: #9D9D9D;
    font-size: 14px;
}

.settings-content-btn-link p{
    user-select: none;
}



/* BOTÃO EDITAR PERFIL */
.settings-content-btn{
    width: 100%;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}


.settings-content-btn.settings-btn-active{
    border: 2px solid #37D09D;
    padding: 0px;
}



/* FORM EDITAR PERFIL - PACIENTE */
.settings-content-editar{
    width: 630px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.settings-content-editar-foto{
    background-color: white;
    width: 100%;
    height: 140px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10);
    padding: 20px 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}

.settings-content-editar-foto-icon-text{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.settings-content-editar-foto-base-icon{
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 75px;
    margin-right: 20px;
}

.settings-content-editar-foto-text p:nth-child(1){
    font-weight: 600;
    color: #364958;
    font-size: 20px;
    margin-bottom: 5px;
    user-select: none;
}

.settings-content-editar-foto-text p:nth-child(2){
    font-weight: 600;
    color: #9D9D9D;
    font-size: 14px;
    user-select: none;
}

.settings-content-editar-foto-btn::-webkit-file-upload-button {
    visibility: hidden;
}

.settings-content-editar-foto-btn::before {
    content: 'Alterar Foto';
    display: inline-block;
    -webkit-user-select: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #38D19E;
    color: white;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 6px;
    text-transform: uppercase;
    border-radius: 3px;
    cursor: pointer;
}

.settings-content-editar-foto-btn[type='file'] {
    width: 158px;
    overflow: none;
    color: transparent;
}

.settings-content-editar-info{
    background-color: white;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.10);
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s forwards;
}

.settings-content-editar-info-title-area{
    font-size: 20px;
    font-weight: 600;
    color: #364958;
    margin-bottom: 20px;
    user-select: none;
}

.settings-content-editar-info-inputs{
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
}

.settings-content-editar-info-inputs-text{
    font-size: 14px;
    font-weight: 600;
    color: #364958;
    margin-bottom: 4px;
    user-select: none;
}

/* EMAIL */
.settings-content-editar-info-inputs-email input{
    width: 350px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 9px 15px;
    border-radius: 3px;
    color: #9D9D9D;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 20px;
}

.settings-content-editar-info-inputs-email input:focus{
    border: 2px solid #ccc;
    padding: 9px 14px;
    outline: none;
    color: #8d8d8d;
}



/* EMAIL (MED/ADM) */
.settings-content-editar-info-inputs-email-med-adm input{
    width: 590px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 9px 15px;
    border-radius: 3px;
    color: #9D9D9D;
    font-size: 18px;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: 20px;
}

.settings-content-editar-info-inputs-email-med-adm input:focus{
    border: 2px solid #ccc;
    padding: 9px 14px;
    outline: none;
    color: #8d8d8d;
}



/* TELEFONE */
.settings-content-editar-info-inputs-telefone input{
    width: 215px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 9px 15px;
    border-radius: 3px;
    color: #9D9D9D;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.settings-content-editar-info-inputs-telefone input::placeholder{
    color: #9D9D9D;
}

.settings-content-editar-info-inputs-telefone input:focus{
    border: 2px solid #ccc;
    padding: 9px 14px;
    outline: none;
    color: #8d8d8d;
}



/* ENDEREÇO */
.settings-content-editar-info-inputs-endereco input{
    width: 590px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 9px 15px;
    border-radius: 3px;
    color: #9D9D9D;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.settings-content-editar-info-inputs-endereco input:focus{
    border: 2px solid #ccc;
    padding: 9px 14px;
    outline: none;
    color: #8d8d8d;
}



/* BUTTON */
.settings-content-editar-info button{
    width: 100px;
    height: 40px;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-self: center;
    border: none;
    background-color: #1481BA;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.settings-content-editar-info button:disabled{
    background-color: #AED4E9;
}



/* FORM ALTERAR SENHA */
.settings-content-altsenha{
    width: 630px;
    background-color: green;
}
