#modal-alert-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#modal-alert-item {
    background-color: #fff;
    display: flex;
    width: 50%;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#modal-alert-item span {
    font-size: 5em;
    text-align: center;
}

#modal-alert-none {
    display: none;
}