@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&family=Righteous&display=swap');



/* RESET */

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* reseta algumas informações */
body, h1, h2, p, ul, li, a{
    /* tira as margens padrão (deixa as coisas mais coladas) */
    margin: 0px;
    padding: 0px;
}

/* atribui novas configurações para o body */
body{
    font-family: Helvetica, Arial, sans-serif;
    color: #222222;
}

/* aqui remove os estilos das listas */
ul{
    list-style: none;
}

/* aqui remove o text-decoration */
a{
    text-decoration: none;
}

/* atribui novas configurações para as img */
img{
    /* faz com que todas as imagens sejam display: block */
    display: block;
    /* faz com que tenham uma largura máxima de 100% para que elas não estourem o container (ajuda na responsividade) */
    max-width: 100%;
}

/* atribui à todas as tags do site um nova configuração */
*{
    /* não entendi */
    box-sizing: border-box;
}



/* MENU */

.paciente-menu-bg{
    background-image: url("../img/menu-background.svg");
    margin-bottom: 40px;
}

.paciente-menu a{
    color: white;
}

.paciente-menu{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.paciente-logo{
    max-width: 130px;
    margin-left: 15px;
    user-select: none;
}

.paciente-nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.paciente-nav li{
    padding: 0 15px;
}

.paciente-nav li a img{
    padding: -15px 15px;
    max-width: 102px;
}

.paciente-nav span{
    color: #364958;
}

.paciente-nav a{
    font-family: 'Righteous', Helvetica, sans-serif;
    font-size: 1.2em;
    display: block;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

.paciente-nav li:nth-child(1){
    line-height: 1.4;
}

.paciente-nav li:nth-child(2){
    line-height: 0;
    padding-top: 10px;
}

.paciente-nav li:nth-child(2)::after{
    content: '';
    display: block;
    position:static;
    margin-top: -5px;
    border-bottom: 14px solid #06D6A0;
}

.paciente-nav li:nth-child(3){
    margin-right: -20px;
}



/* CONSULTAS */

.consultas-bg{
    background-color: white;
}

.consultas-overflow{
    background-color: white;
    width: 720px;
    height: 620px;
    display: flex;
    justify-content: center;
    /* margin-bottom: 10px; */
    overflow: auto;
    padding: 20px 0;
}

.consultas-overflow::-webkit-scrollbar{
    width: 10px;
    background: white;
}

.consultas-overflow::-webkit-scrollbar-track{
    width: 25px;
    background: white;
    /* border-radius: 10px; */
    margin: 20px 0 5px 0;
    background-color: white;
}

.consultas-overflow::-webkit-scrollbar-thumb{
    background-color: #364958;
    border-radius: 10px;
    border: 2px solid white;
}

.consultas{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paciente-botoes-consulta{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.paciente-botoes-consulta button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 80px;
    margin: 0 30px 0 30px;
    border-radius: 25px;
}

.paciente-botoes-consulta button:nth-child(1){
    background-color: #06D6A0;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 10px #8a8a8a;
}

.paciente-botoes-consulta button:nth-child(2){
    background-color: #646A70;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 10px #8a8a8a;
}

.paciente-botoes-consulta button:nth-child(3){
    background-color: #39A0ED;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 10px #8a8a8a;
}

.paciente-consultas-bg{
    max-width: 960px;
    width: 680px;
    height: 400px;
    background-color: #ccc;
    border-radius: 20px;
    background: linear-gradient(132.36deg, #E5E5E5 -50.64%, rgba(255, 255, 255, 0) 163.53%), #FFFFFF;
    box-shadow: 3px 6px 4px rgba(0, 0, 0, 0.25);

    margin-bottom: 50px;
}

.paciente-consultas{
    margin-bottom: 80px;
}

.paciente-tipo-consulta{
    width: 680px;
    height: 65px;
    background-color: #39A0ED;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 20px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paciente-tipo-consulta p{
    font-size: 1.25em;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    line-height: 0;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.paciente-info-consulta{
    padding: 20px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.paciente-nome-data-consulta img{
    width: 130px;
}

.paciente-nome-data-consulta{
    display: flex;
    align-items: center;
}

.paciente-texto{
    font-size: 1.2em;
}

.paciente-texto-top{
    line-height: 1.3;
    margin-bottom: 20px;
    
}

.paciente-texto-top p:nth-child(1){
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.paciente-texto-top p strong:nth-child(1){
    font-family: 'Righteous', Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.paciente-texto-top p:nth-child(2){
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.paciente-texto-bottom{
    line-height: 1.4;
}

.paciente-texto-bottom p:nth-child(1){
    font-family: 'Righteous', Helvetica, sans-serif;
    font-weight: 400;
}

.paciente-texto-bottom p:nth-child(2){
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
}

.paciente-linha-divisao{
    width: 85%;
    border-bottom: 5px solid black;
    border-radius: 25px;
}

.paciente-hora-consulta{
    padding-bottom: 55px;
}

.paciente-hora-consulta p:nth-child(1){
    font-size: 2em;
    font-family: 'Righteous', Helvetica, sans-serif;
}

.paciente-hora-consulta p:nth-child(2){
    font-size: 1.5em;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-weight: 400;
}

.paciente-desc-consulta{
    padding: 20px 70px;
}

.paciente-desc-consulta h2{
    text-align: center;
    padding-bottom: 20px;
}

.paciente-text-button{
    display: flex;
    justify-content: space-between;
}

.paciente-text-button textarea{
    resize: none;
    border: none;
    background-color: #f2f2f2;
    width: 80%;
    font-size: 1.2em;
    font-family: 'Montserrat', Helvetica, sans-serif;
    /* user-select: none; */
}

.paciente-text-button textarea::selection{
    outline: none;
    border: none;
}

.paciente-text-button button{
    border: none;
    background-color: #364958;
    color: white;
    width: 90px;
    height: 40px;
    font-size: 1em;
    border-radius: 10px;
    font-family: 'Righteous', Helvetica, sans-serif;
    cursor: pointer;
}



/* LOGIN */

.login{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.login-left-logo {
    background: rgb(6,214,160);
    background: linear-gradient(144deg, rgba(6,214,160,1) 0%, rgba(30,144,124,1) 100%);
    height: 100%;
    width: 45%;
    position: absolute;
}

.login-background{
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    opacity: 15.55;
    object-fit: cover;
    object-position: center;
    position: absolute;
}

.login-imagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
}

.login-logo{
    max-width: 331px;
    padding-top: 4.5em;
}

.login-medico{
    max-width: 35em;
}

.login-right-form {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}

.login-form{
    width: 100%;
    height: 79%;
    display: flex;
    justify-content: center;
}

.login-form-center{
    width: 26em;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form-center p{
    font-family: 'Righteous', cursive;
    line-height: 117px;
    font-size: 3.3em;
    line-height: 117px;
    color: #32be8f;
    padding-top: 0.95em;
}

.login-formulario{
    display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.login-form-main{
    width: 360px;
}

.login-formulario .login-input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-formulario .login-input-div .one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

/* começou bugar */
.login-input-div > div{
    position: relative;
	height: 45px;
}

/* bug */
.login-input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.login-input-div:before, .login-input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}

.login-input-div:before{
	right: 50%;
}

.login-input-div:after{
	left: 50%;
}

.login-input-div.focus:before, .login-input-div.focus:after{
	width: 50%;
}

.login-input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.login-input-div.focus > .i > i{
	color: #38d39f;
}

/* rodou algo */
.login-input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.login-input-div .pass{
	margin-bottom: 4px;
}

.login.input:-webkit-autofill{
    background-color: white;
}

.login-a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
    font-weight: 600;
	font-size: 0.9rem;
	transition: .3s;
}

.login-a:hover{
	color: #38d39f;
}

.login-btn{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}

.login-btn:hover{
	background-position: right;
}

.login-btn:disabled{
    background-image: linear-gradient(to right, #999999, #999999, #999999);
}

.login-erro p{
    font-size: 1rem;
    margin-top: -70px;
    font-family: 'Poppins', sans-serif;
    color: #1481ba;
}

.login-links{
    width: 100%;
    height: 21%;
    /* background-color: #787; */
    display: flex;
    flex-direction: column;
    padding-left: 4.3em;
}

.login-links a{
    text-decoration: none;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-bottom: 7px;
}

.login-a1, .login-a2{
    display: flex;
    align-items: center;
}

.login-linha{
    width: 45.05px;
    height: 2px;
    border-radius: 25px;
    margin-right: 0.2em;
}

.login-a1 a{
    color: #364958;
}

.login-a1 .login-linha{
    background-color: #364958;
}

.login-a2 a{
    color: #39A0ED;
}

.login-a2 .login-linha{
    background-color: #39A0ED;
}